.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: darkgrey;
    cursor: pointer;
}

.headerOption_icon {
    object-fit: contain;
    height: 40px;
    border-radius: 100%;
}

.headerOption:hover {
    color: black;
}